@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Regular.woff2") format("woff2");
    font-weight: 400; /* Normal weight */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Light.woff2") format("woff2");
    font-weight: 300; /* Light weight */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Bold.woff2") format("woff2");
    font-weight: 700; /* Bold weight */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/ExtraBold.woff2") format("woff2");
    font-weight: 800; /* Extra Bold weight */
}

:root {
    --border: 1px;
}

body {
    font-family: "JetBrainsMono", monospace;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    padding: 20px;
    line-height: 1.2rem;
    min-height: 95vh;
}

.dilettant {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.words {
    font-family: "JetBrainsMono", monospace;
    position: relative;
    margin-bottom: 45px;
}

.words p {
    font-family: "JetBrainsMono", monospace;
    position: absolute;
    opacity: 0;
    /* transition: opacity 2s ease-in-out; */
}

.dilettant footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin-top: auto;
}

.dilettant footer .foot {
    flex: 1;
    border: var(--border) solid black;
    background-color: #eeeeee;
    padding: calc(9px + var(--border));
    height: calc(9px + 2 * var(--border));
}

.dilettant button {
    border: var(--border) solid black;
    color: black;
    background-color: white;
    padding: calc(9px + var(--border));
    font-family: "JetBrainsMono", monospace;
    font-size: 1rem;
    cursor: pointer;
    margin-top: calc(-9px - var(--border));
    margin-bottom: calc(-9px + 5px - var(--border));
    margin-left: 20px;
    margin-right: 25px;
    box-shadow:
        5px 5px 0px #eeeeee,
        5px 5px 0px var(--border) black;
}

.dilettant h1 {
    font-weight: 800;
    color: #eeeeee;
    -webkit-text-stroke: max(calc(var(--border) - 0.5px), 1px) black;
}

.dilettant header {
    border: var(--border) solid black;
    background-color: #eeeeee;
    grid-column: 1 / -1;
    text-align: center;
    padding: 9px;
}

.dilettant nav a {
    display: inline-block;
    padding: var(--border);
    padding-left: calc(9px + 2 * var(--border));
    padding-right: calc(9px + 2 * var(--border));
    color: black;
    text-decoration: none;
}

.dilettant nav a:hover {
    border-left: var(--border) solid black;
    border-right: var(--border) solid black;
    border-bottom: none;
    border-top: none;
    background-color: white;
    padding: calc(9px + var(--border));
    padding-top: calc(9px + 2 * var(--border));
    padding-bottom: calc(9px + 2 * var(--border));
    cursor: pointer;
    margin-top: calc(-9px - 2 * var(--border));
    margin-bottom: calc(-9px - 2 * var(--border));
}

.dilettant nav a.active {
    border-left: var(--border) solid black;
    border-right: var(--border) solid black;
    border-bottom: none;
    border-top: none;
    background-color: white;
    padding: calc(9px + 2 * var(--border));
    cursor: pointer;
    margin-top: calc(-9px - 2 * var(--border));
    margin-bottom: calc(-9px - 2 * var(--border));
}

.dilettant a {
    display: inline-block;
    color: darkgreen;
}

.dilettant a:hover {
    background-color: #eeeeee;
}

.dilettant section {
    border: var(--border) solid black;
    margin: 20px 0px;
    margin-right: 6px;
    overflow: hidden;
    box-shadow:
        5px 5px 0px #eeeeee,
        5px 5px 0px var(--border) black;
}
.dilettant section .header {
    background-color: #eeeeee;
    padding: 10px;
    /* padding-bottom: 5px; */
    /* padding-top: 5px; */
}
.dilettant section .content {
    background-color: white;
    padding: 10px;
}
.dilettant section hr {
    border: none;
    height: var(--border);
    background-color: black;
    margin: 0;
}

.dilettant main {
    grid-column: 1 / -1;
    text-align: left;
}

.dilettant main.contact {
    text-align: center;
}

.dilettant img {
    border: var(--border) solid black;
    max-width: 450px;
    box-shadow:
        10px 10px 0px #eeeeee,
        10px 10px 0px var(--border) black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dilettant hr {
    border: none;
    height: 5px;
    background-color: #eeeeee;
    border: var(--border) solid black;
    border-left: none;
    margin: 25px 0px;
    margin-left: calc(-22px - var(--border));
}

.dilettant .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    width: 100%;
    margin: 0 auto;
}

.dilettant .columns column {
    position: relative;
}

.dilettant .columns column::before {
    content: "";
    position: absolute;
    top: 18px;
    right: -28px;
    height: calc(100% - 33px);
    width: 5px;
    background-color: #eeeeee;
    border: var(--border) solid black;
}

.dilettant .columns column:last-child::before {
    display: none;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 0;
    padding-bottom: 25px;
}
.contact span {
    display: inline;
}
.wide {
    display: block;
}
.long {
    display: none;
}

@media (max-width: 680px) {
    .dilettant footer .foot {
        flex: 1;
        border: var(--border) solid black;
        background-color: #eeeeee;
        padding: calc(9px + var(--border));
        height: var(--border);
    }

    .dilettant header {
        border: none;
        background-color: white;
        grid-column: 1 / -1;
        text-align: center;
    }

    .dilettant nav a {
        display: inline-block;
        margin: calc(-1 * var(--border)) 10px;
        color: black;
        padding: 5px;
        text-decoration: none;
        margin: 10px 0px;
    }

    .dilettant nav a:hover {
        background-color: #eeeeee;
        padding: 4px;
        border: var(--border) solid black;
    }

    .dilettant nav a.active {
        background-color: #eeeeee;
        padding: 4px;
        border: var(--border) solid black;
    }

    .dilettant .columns {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .dilettant .columns column::before {
        display: none;
    }

    .dilettant hr {
        background-color: white;
        border: none;
        margin: 10px 0px;
    }

    .dilettant img {
        border: var(--border) solid black;
        max-width: 240px;
        box-shadow:
            10px 10px 0px #eeeeee,
            10px 10px 0px var(--border) black;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .wide {
        display: none;
    }
    .long {
        display: flex;
        justify-content: center;
        width: 240px;
    }
    .location {
        margin-right: auto;
    }
}
