@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Regular.woff2") format("woff2");
    font-weight: 400; /* Normal weight */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Light.woff2") format("woff2");
    font-weight: 300; /* Light weight */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/Bold.woff2") format("woff2");
    font-weight: 700; /* Bold weight */
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./fonts/JetBrainsMono/ExtraBold.woff2") format("woff2");
    font-weight: 800; /* Extra Bold weight */
}

:root {
    --border: 2px;
    --gray: #eeeeee;
    --darkgray: #666666;
}

body {
    font-family: "JetBrainsMono", monospace;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    padding: 20px;
    line-height: 1.2rem;
    min-height: 95vh;
}

.dilettant {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.words p {
    /* position: absolute; */
    padding: 10px;
    border: var(--border) solid black;
    box-shadow:
        5px 5px 0px var(--gray),
        5px 5px 0px var(--border) black;
    margin: 20px 0px;
}

footer {
    margin-top: auto;
}
#big {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#big p {
    margin: 0;
}
#small {
    display: none;
}

.dilettant button {
    border: var(--border) solid black;
    color: black;
    background-color: white;
    font-family: "JetBrainsMono", monospace;
    font-size: 1rem;
    cursor: pointer;
    box-shadow:
        5px 5px 0px var(--gray),
        5px 5px 0px var(--border) black;
}

.dilettant button:hover {
    background-color: #fafafa;
}

.dilettant h1 {
    font-weight: 800;
    color: var(--gray);
    -webkit-text-stroke: max(min(calc(var(--border) - 0.5px), 2px), 1px) black;
}

.dilettant header {
    border: var(--border) solid black;
    background-color: var(--gray);
    grid-column: 1 / -1;
    text-align: center;
}

.dilettant nav a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: calc(9px + var(--border));
    margin: calc(-1 * var(--border)) 5px;
}

.dilettant nav a:hover {
    cursor: pointer;
    background-color: white;
    border-top: none;
    border-bottom: none;
    border-left: var(--border) solid black;
    border-right: var(--border) solid black;
    padding: 9px;
    padding-top: calc(9px + var(--border));
    padding-bottom: calc(9px + var(--border));
}

.dilettant nav a.active {
    cursor: pointer;
    background-color: white;
    border-top: none;
    border-bottom: none;
    border-left: var(--border) solid black;
    border-right: var(--border) solid black;
    padding: 9px;
    padding-top: calc(9px + var(--border));
    padding-bottom: calc(9px + var(--border));
}

.dilettant a {
    display: inline-block;
    color: var(--darkgray);
    font-weight: 700;
    text-decoration-thickness: min(var(--border), 2px);
}

.dilettant a:hover {
    background-color: #cccccc;
}

.dilettant section {
    border: var(--border) solid black;
    margin: 20px 0px;
    margin-right: 6px;
    overflow: hidden;
    box-shadow:
        5px 5px 0px var(--gray),
        5px 5px 0px var(--border) black;
}
.dilettant section .header {
    background-color: var(--gray);
    font-weight: 700;
    padding: 5px 10px;
}
.dilettant section .content {
    background-color: white;
    padding: 10px;
}
.dilettant section hr {
    border: none;
    height: var(--border);
    background-color: black;
    margin: 0;
}

.dilettant main {
    grid-column: 1 / -1;
    text-align: left;
}

.dilettant main.contact {
    text-align: center;
}

.dilettant img {
    border: var(--border) solid black;
    max-width: 450px;
    box-shadow:
        10px 10px 0px var(--gray),
        10px 10px 0px var(--border) black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dilettant hr {
    border: none;
    height: 5px;
    background-color: var(--gray);
    border: var(--border) solid black;
    border-left: none;
    margin: 25px 0px;
    margin-left: calc(-22px - var(--border));
}

.dilettant .columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    width: 100%;
    margin: 0 auto;
}

.dilettant .columns column {
    position: relative;
}

.dilettant .columns column::before {
    content: "";
    position: absolute;
    top: 18px;
    right: -28px;
    height: calc(100% - 33px);
    width: 5px;
    background-color: var(--gray);
    border: var(--border) solid black;
}

.dilettant .columns column:last-child::before {
    display: none;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
}
.contact p {
    margin: 5px 0;
}
.contact span {
    display: inline;
}
.wide {
    display: block;
}
.long {
    display: none;
}

@media (max-width: 800px) {
    .left,
    .right {
        text-wrap: wrap;
    }
    .left,
    .middle,
    .right {
        font-size: 0.8em;
    }
}

@media (max-width: 730px) {
    .dilettant header {
        border: none;
        background-color: white;
        grid-column: 1 / -1;
        text-align: center;
    }

    .dilettant nav a {
        display: inline-block;
        color: black;
        padding: calc(4px + var(--border));
        text-decoration: none;
        margin: 10px 0px;
    }

    .dilettant nav a:hover {
        background-color: var(--gray);
        padding: 4px;
        border: var(--border) solid black;
    }

    .dilettant nav a.active {
        background-color: var(--gray);
        padding: 4px;
        border: var(--border) solid black;
    }

    #big {
        display: none;
    }
    #small {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    #small p {
        margin: 0;
    }
    #buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .dilettant .columns {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .dilettant .columns column::before {
        display: none;
    }

    .dilettant hr {
        background-color: white;
        border: none;
        margin: 10px 0px;
    }

    .dilettant img {
        border: var(--border) solid black;
        max-width: 240px;
        box-shadow:
            10px 10px 0px var(--gray),
            10px 10px 0px var(--border) black;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .resume img {
        border: var(--border) solid var(--darkgray);
        max-width: 240px;
        box-shadow:
            10px 10px 0px var(--gray),
            10px 10px 0px var(--border) var(--darkgray);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .wide {
        display: none;
    }
    .long {
        display: flex;
        justify-content: center;
        width: 240px;
    }
    .location {
        margin-right: auto;
    }
}
