@font-face {
    font-family: "JetBrainsMono";
    src: url("/font/Regular.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "JetBrainsMono";
    src: url("/font/Bold.woff2") format("woff2");
    font-weight: 700;
}

:root {
    --border: 2px;
    --padding: 5px;
    --gap: 10px;
    --heading: 155px;
    --content: 600px;
    --image: 230px;

    --background: #ffffff;
    --contrast: #b2b2b2;
    --text: #000000;

    --link: #3366cc;
    --hover: #cc9933;
}

html {
    scrollbar-gutter: stable;
}
body {
    font-family: "JetBrainsMono", monospace;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

    color: var(--text);
    background-color: var(--background);

    padding: calc(2 * var(--gap)) 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    max-width: var(--content);
}

header,
main menu {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: 0;
    margin: 0;

    width: var(--image);
}
main menu.long {
    width: unset;
}
nav,
main menu a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--border);
}
main menu.long nav {
    justify-content: center;
    gap: var(--gap);
}
img,
pre {
    cursor: pointer;
    padding: var(--padding);
    border: var(--border) solid var(--link);
}
img {
    --size: calc(var(--image) - 2 * var(--padding) - 2 * var(--border));
    height: var(--size);
    width: var(--size);
}

a,
a:visited {
    color: var(--link);
    text-decoration: none;
    display: inline-block;
}
a:hover,
a.active {
    color: var(--hover);
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;

    padding-top: calc(5 * var(--gap));
}
h1:first-of-type {
    padding-top: var(--gap);
}

p,
h2 {
    margin: 0;
    padding: 0;
}

section {
    position: relative;

    padding-left: calc(var(--heading) + 2 * var(--gap));
    margin: calc(2 * var(--gap)) 0;
}
section > * {
    padding-left: var(--padding);
    border-left: var(--border) solid var(--contrast);

    word-wrap: break-word;
}
h2 {
    font-size: inherit;
    font-weight: 700;

    position: absolute;
    left: 0;

    margin: 0;
    padding: 0;

    width: var(--heading);
    word-wrap: break-word;
    border-left: none;
}
section span {
    display: inline-block;

    color: var(--background);

    background-color: var(--contrast);

    border-left: none;
    padding: 0 calc(var(--padding) + var(--border)) 0
        calc(var(--padding) + var(--border));
}
